<h1 class="form-title"><%- title %></h1>
<%- messages() %>

    <% if (errors) { %>
        <ul class="failure-message">
            <% errors.array().filter(error=> error.msg !== "Invalid value").forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form class="form" action="/account/update" method="post">
                <label>First name<input type="text" name="account_firstname" required
                        value="<%= locals.account_firstname %>"></label>
                <small>Required</small>
                <label>Last name<input type="text" name="account_lastname" required
                        value="<%= locals.account_lastname %>"></label>
                <small>Required</small>
                <label>Email address<input type="email" name="account_email" required
                        value="<%= locals.account_email %>"></label>
                <small>Required</small>

                <input type="submit" value="UPDATE">
                <input type="hidden" name="account_id" value="<%= locals.account_id %>">
            </form>

            <h3 class="form-h2">Change Password</h3>
            <p>By entering a new password, your current password will be replaced.</p>
            <form class="form" action="/account/update-password" method="post">
                <label>New Password<input type="password" name="account_password" id="password" required
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
                <small>Must contain at least 12 characters including an uppercase, number and special character.</small>
                <input type="submit" value="CHANGE PASSWORD">
                <input type="hidden" name="account_id" value="<%= locals.account_id %>">
            </form>