<h1 class="form-title"><%- title %></h1>
<%- messages() %>
        <% if (errors) { %>
                <ul class="failure-message">
                        <% errors.array().filter(error=> error.msg !== "Invalid value").forEach(error=> { %>
                                <li>
                                        <%= error.msg %>
                                </li>
                                <% }) %>
                </ul>
                <% } %>

                        <form class="form" id=deleteForm action="/inv/delete" method="post">
                                <label>Make<input type="text" value="<%- locals.inv_make %>" name="inv_make"
                                                readonly></label>
                                <label>Model<input type="text" value="<%- locals.inv_model %>" name="inv_model"
                                                readonly></label>
                                <label>Year<input type="number" value="<%- locals.inv_year %>" name="inv_year"
                                                min="1900" max="2050" readonly></label>
                                <label>Price<input type="number" value="<%- locals.inv_price %>" name="inv_price"
                                                readonly></label>
                                <p>A vehicle will be deleted from the inventory. The delete is permanent.</p>
                                <p> Confirm Deletion</p>
                                <input type="submit" name="submit" value="DELETE" disabled>
                                <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>
                                        "
                                        <% } %>>
                        </form>